<!--<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>-->

<div class="row marketing container">

  <p ng-if="loading">Loading...</p>

  <div ng-repeat="project in projects" class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-6 text-left">
    <h4>{{project.name}}</h4>
      </div>
      <div class="col-md-6 text-right">
    <img ng-src="{{project.logo}}" alt="logo" title="logo" height="50"/>
      </div>
      <div class="col-md-12">
    <p ng-if="project.description" class="margin-top-standard">{{project.description}}</p>
      </div>
    <p ng-if="project.loading">Loading...</p>
    </div>
    <div ng-if="project.error" class="alert alert-danger">
      <strong>{{project.error.statusText}}</strong>
      <hr>
      <p>{{project.error.description}}</p>
    </div>
  </div>

  <div ng-if="error" class="alert alert-danger">
    <strong>{{error.statusText}}</strong>
    <hr>
    <p>{{error.description}}</p>
  </div>

</div>
